<section id="daily-history">
    <h2>Daily History, <span id="summary-month"></span>, <span id="summary-year"></span></h2>
    <table class="daily-history-table">
        <thead>
            <tr>
                <th class="header-day">Day</th>
                <th class="header-number-visits">Number of Visits</th>
                <th class="header-pages">Pages</th>
                <th class="header-hits">Hits</th>
                <th class="header-bandwidth">Bandwidth</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6">Loading...</td>
            </tr>
        </tbody>
    </table>
</section>
