<header class="<%= mini ? 'mini-header' : '' %>">
    <div class="header-container">
        <div class="logo-text">
            <a href="/">Digital <span>Bahá’í Resources</span></a>
        </div>
        <nav class="header-nav-bar">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/traffic-stats">Statistics</a></li>
                <li><a href="https://docs.digitalbahairesources.org/">Docs</a></li>
                <li><a href="/current-activity">Current Activity</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
