<section id="monthly-history">
    <h2>Monthly History, <span class="header-year" data-section="monthly-history"></span></h2>
    <table class="monthly-history-table">
        <thead>
            <tr>
                <th>Month</th>
                <th class="header-unique-visitors">Unique Visitors</th>
                <th class="header-number-visits">Number of Visits</th>
                <th class="header-pages">Pages</th>
                <th class="header-hits">Hits</th>
                <th class="header-bandwidth">Bandwidth</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6">Loading...</td>
            </tr>
        </tbody>
    </table>
</section>
