<section id="monthly-history">
    <h2>Monthly History</h2>
    <table class="monthly-history-table">
        <thead>
            <tr>
                <th>Month</th>
                <th>Unique Visitors</th>
                <th>Number of Visits</th>
                <th>Pages</th>
                <th>Hits</th>
                <th>Bandwidth</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6">Loading...</td>
            </tr>
        </tbody>
    </table>
</section>
