<div class="chart-header">
    <h1>
        Breakdown of 
        <select id="metric-select" name="metric" class="styled-select">
            <option value="unique_visitors">Unique Visitors</option>
            <option value="number_of_visits">Number of Visits</option>
            <option value="pages">Pages</option>
            <option value="hits">Hits</option>
            <option value="bandwidth">Bandwidth</option>
        </select>
        per website and per server (all time)
    </h1>
</div>
