<section id="traffic-summary">
    <h2>Summary for <span class="header-month" data-section="summary"></span>, <span class="header-year" data-section="summary"></span></h2>
    <table class="traffic-summary-table">
        <thead>
            <tr class="traffic-summary-header">
                <th class="header-unique-visitors">Unique Visitors</th>
                <th class="header-number-visits">Number of Visits</th>
                <th class="header-pages">Pages</th>
                <th class="header-hits">Hits</th>
                <th class="header-bandwidth">Bandwidth</th>
            </tr>
        </thead>
        <tbody>
            <tr class="traffic-summary-loading">
                <td colspan="5">Loading...</td>
            </tr>
        </tbody>
    </table>
</section>
