<div class="stats-sidebar">
    <ul class="stats-sidebar-menu">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#website-stats">Website Stats</a></li>
        <li><a href="#server-stats">Server Stats</a></li>
        <li><a href="#monthly-summary">Monthly Summary</a></li>
        <li><a href="#yearly-summary">Yearly Summary</a></li>
    </ul>
</div>
