<div class="stats-sidebar">
    <ul class="stats-sidebar-menu">
        <li><a href="/traffic-stats">Overview</a></li>
        <li><a href="/traffic-stats/urls">Top pages</a></li>
        <li><a href="/pageview-analysis">Pageview Analysis</a></li>
    </ul>
</div>
