<section id="urls-highlight">
    <h2>Top 10 URLs</h2>
    <table>
        <thead>
            <tr>
                <th>Website</th>
                <th>URL</th>
                <th>Hits</th>
                <th>Entry</th>
                <th>Exit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5">Loading...</td>
            </tr>
        </tbody>
    </table>
</section>
