<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="images/dbs-favicon.png" type="image/png">
</head>
<body>
    <%- include('partials/header', { mini: false }) %>
    <main>
        <section class="content-area">
            <h1>About Us</h1>
            <p>Digital Bahai Resources is a platform for independent websites dedicated to making information about the <a href="https://www.bahai.org/">Bahá’í Faith</a> more accessible. Our projects are intended to create new ways for people to engage with Bahá’í teachings and history. They include:</p> 

            <ul>
                <li><strong><a href="https://bahaipedia.org/">Bahaipedia</a>:</strong> A collaborative encyclopedia.</li>
                <li><strong><a href="https://bahai.media/">Bahai.media</a>:</strong> A resource for Bahá’í-related media.</li>
                <li><strong><a href="https://bahai.works/">Bahai.works</a>:</strong> A digitization project for Bahá’í documents.</li>
                <li><strong><a href="https://bahai9.com/">Bahai9</a>:</strong> A reference website for Bahá’í quotes.</li>
                <li><strong><a href="https://bahaidata.org/">Bahaidata.org</a>:</strong> A structured data storage site.</li>
                <li><strong><a href="https://bahai.quest/">Bahai.quest</a>:</strong> A concordance to the writings of Central Figures in the Bahá’í Faith.</li>
            </ul>

            <p>Together, these projects help preserve, organize, and share Bahá’í-related content. We are not an official Bahá’í organization; our platforms are built and maintained by volunteer contributors from around the world. Sarah Haslip manages the technical and community aspect of most projects.</p>

            <p>We invite researchers, new learners, and anyone interested in contributing to explore our projects and join us in this work.</p>

            <p>For more information, you can view our <a href="/current-activity">current activity</a> and <a href="/traffic-stats">statistics</a> pages. Please <a href="/contact">contact us</a> with any questions or feedback.

            <p class="centered"><strong>Learn more about:</strong> <a href="/technology">Our technology</a>, <a href="/bahaipedia">Bahaipedia</a>, <a href="/bahaiworks">Bahai.works</a>, <a href="/bahaimedia">Bahai.media</a></p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
