<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="images/dbs-favicon.png" type="image/png">
</head>
<body>
    <%- include('partials/header', { mini: false }) %>
    <main>
        <section class="content-area">
            <h1>About Us</h1>
            <p>Digital Bahai Resources is an independent collaborative platform dedicated to providing comprehensive knowledge and resources related to the <a href="https://www.bahai.org/">Bahá’í Faith</a>. Serving as a digital hub, we host numerous projects aimed at enriching understanding, encouraging study, and fostering community around the teachings and history of the Bahá’í Faith.</p>

            <p>Our projects include <a href="https://bahaipedia.org/">Bahaipedia</a>, a collaborative encyclopedia; <a href="https://bahai.media/">Bahai.media</a>, a resource for Bahá’í-related media; <a href="https://bahai.works/">Bahai.works</a>, a digitization project for Bahá’í documents; <a href="https://bahai9.com/">Bahai9</a>, a reference website for Bahá’í quotes; <a href="https://bahaidata.org/">Bahaidata.org</a>, a structured data storage site; and <a href="https://bahai.quest/">Bahai.quest</a>, a concordance to the writings of Central Figures in the Bahá’í Faith.</p>

            <p>While each project has its unique focus, they collectively contribute to the preservation, organization, and dissemination of Bahá’í-related content. Our platforms depend on the dedication and expertise of numerous contributors worldwide, with David Haslip overseeing the technical and community aspects of several projects.</p>

            <p>We are not an official Bahá’í organization, but function with the shared purpose of making Bahá’í knowledge accessible to all. Our community of contributors continuously work towards expanding and refining our resources, to ensure that they remain accurate, comprehensive, and up-to-date.</p>

            <p>For more information on our current activity and milestones, please visit our <a href="/current-activity">Current Activity</a> page. To explore our platform's reach and impact, view our <a href="/traffic-stats">Statistics</a> page.

            <p>Whether you are a seasoned researcher, a new learner, or someone interested in contributing, we invite you to navigate our platform and join us in this journey of knowledge and discovery.</p>

            <p>Please feel free to <a href="/contact">contact us</a> with any questions or feedback. We look forward to hearing from you.</p>

            <p class="centered"><strong>Learn more about:</strong> <a href="/bahaipedia">Bahaipedia</a></p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
