<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Bahai.works</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="images/dbs-favicon.png" type="image/png">
</head>
<body>
    <%- include('partials/header', { mini: false }) %>
    <main>
        <section class="content-area">
            <h1 class="centered">About <a href="https://bahai.works/">Bahai.works</a></h1>
            
            <h2>Introduction</h2>
            <p>Established in 2007, Bahai.works hosts searchable copies of primary and secondary source documents realated to the Bahá’í Faith. The site has several active contributors working to proofread these text copies, and make the site more useful to researchers. It also allows users to search through copyright protected text and locate books matching their search terms.</p>
            
            <h2>Scope & Content</h2>
            <ul>
                <li>The English-language Bahai.works contains more than 16,000 content pages (more than 27,000 pages in total) and editors have made more than <a href="https://bahai.works/Special:Statistics">205,000</a> edits as of early 2025.</li>
                <li>Covers a variety of content from periodicals to books to transcripts of audio and video media.</li>
                <li>A German-language version exists and hosts proofread copies of a number of early periodicals and documents.</li>
            </ul>
            
            <h2>Reach & Audience</h2>
            <ul>
                <li>Bahaipedia primarily serves English-language audiences, but volunteers have added some foundational information in several other languages as well, such as <a href="https://es.bahaipedia.org">Spanish</a> and <a href="https://vi.bahaipedia.org">Vietnamese</a>.</li>
                <li>With servers in Virginia (USA), Singapore, São Paulo, and Frankfurt, the site is well optimized for global access or any future language versions that might be requested.</li>
            </ul>
            
            <h2>Impact & Value</h2>
            <ul>
                <li>Provides a Bahá’í-oriented perspective, allowing readers to learn about a broad range of topics from a Bahá’í perspective.</li>
                <li>Acts as a preservation tool for historical and contemporary knowledge.</li>
                <li>Encourages open contribution, making it a living, evolving resource. Wikis are also known for hosting content open to being authored by many persons, which can increase trust in the information.</li>
                <li>Bridges the gap between casual learners and in-depth research, with overviews of a variety of topics and references to source documents for deeper study.</li>
            </ul>
            
            <h2>Sustainability & Future Potential</h2>
            <ul>
                <li>Minimal hosting costs, leveraging MediaWiki’s efficient infrastructure.</li>
                <li>Community-driven contributions ensure continuous growth and accuracy.</li>
                <li>Potential for expansion through collaborations with scholars, institutions, and volunteers from non-English speaking areas of the world.</li>
            </ul>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
