<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Bahai.works</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="images/dbs-favicon.png" type="image/png">
</head>
<body>
    <%- include('partials/header', { mini: false }) %>
    <main>
        <section class="content-area">
            <h1 class="centered">About <a href="https://bahai.works/">Bahai.works</a></h1>
            
            <h2>Introduction</h2>
            <p>Established in 2007, Bahai.works hosts searchable copies of primary and secondary source documents related to the Bahá’í Faith. The site has several active contributors working to proofread these text copies and make the site more useful to researchers. It also allows users to search through copyright-protected text and locate books matching their search terms. Cumulatively, content on the site totals more than 80 million words.</p>
            
            <h2>Scope & Content</h2>
            <ul>
                <li>The English-language Bahai.works contains more than 11,000 content pages (more than 29,000 pages in total) and editors have made more than <a href="https://bahai.works/Special:Statistics">225,000</a> edits as of late 2025.</li>
                <li>Covers a variety of content from periodicals to books to <a href="https://bahai.works/Transcript:Adib_Taherzadeh/The_Human_Soul">transcripts</a> of audio and <a href="https://bahai.works/Transcript:Steven_Phelps/Can_Science_and_Religion_Ever_Agree">video</a> media.</li>
                <li>A German-language version exists and hosts proofread copies of a number of early periodicals and documents.</li>
            </ul>
            
            <h2>Reach & Audience</h2>
            <ul>
                <li>Links to Bahai.works can often be found on Bahá’í-oriented social media spaces.</li>
                <li>The site has been included in the bibliographical sections of research papers and publications like <i>The World of the Bahá’í Faith</i> edited by Robert H. Stockman.</li>
                <li>By the traffic statistics, Bahai.works is the second-most accessed site we run, after Bahaipedia.org.</li>
            </ul>
            
            <h2>Impact & Value</h2>
            <ul>
                <li>Allows for researchers and interested parties to search through a broad range of historical material in one location.</li>
                <li>Acts as a preservation tool for historical and contemporary knowledge.</li>
                <li>Encourages open contribution, making it a living, evolving resource. Currently, active proofreading is underway on multiple periodicals.</li>
                <li>Proofreading has been completed on a number of valuable resources including <i>Star of the West</i> and <i>Bahá’í News</i>. It is hard to estimate exactly, but the total number of proofread pages of text likely exceeds 20,000.</li>
            </ul>
            
            <h2>Sustainability & Future Potential</h2>
            <ul>
                <li>Minimal hosting costs, leveraging MediaWiki’s efficient infrastructure.</li>
                <li>Community-driven contributions ensure continuous growth and accuracy.</li>
                <li>Potential for expansion through collaborations with book publishers, institutions, and into non-English-speaking content.</li>
            </ul>
            </ul>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
