<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Bahai.media</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="images/dbs-favicon.png" type="image/png">
</head>
<body>
    <%- include('partials/header', { mini: false }) %>
    <main>
        <section class="content-area">
            <h1 class="centered">About <a href="https://bahai.media/">Bahai.media</a></h1>
            
            <h2>Introduction</h2>
            <p>Bahai.media hosts primary and secondary source documents and media realated to the Bahá’í Faith. Its value lies in its technical ability to integrate with all other websites we run, such that files only need to be uploaded and managed in one location before being used seamlessly elsewhere.</p>
            
            <h2>Scope & Content</h2>
            <ul>
                <li>Established in 2007, the site holds more than 22,000 files and editors have made more than <a href="https://bahai.media/Special:Statistics">145,000</a> edits as of early 2025.</li>
                <li>Media files cover wide range of content, including video newsletters, photographs, scans of documents and audio talks.</li>
                <li>In total more than 90 GB of content is stored and publicaly accessible on this site.</li>
            </ul>
            
            <h2>Reach & Audience</h2>
            <ul>
                <li>Bahai.media primarily serves the media needs of editors on Bahaipedia and our other related sites.</li>
                <li>Credited by Violetta Zein who compliled a <a href="https://theutteranceproject.com/the-guardian-thanks/">chronology of the life of the Guardian</a> with the following appreciation: "without which this chronology would simply not have been possible".</li>
            </ul>
            
            <h2>Impact & Value</h2>
            <ul>
                <li>Provides a Bahá’í-oriented perspective, allowing readers to learn about a broad range of topics from a Bahá’í perspective.</li>
                <li>Acts as a preservation tool for historical and contemporary knowledge.</li>
                <li>Encourages open contribution, making it a living, evolving resource. Wikis are also known for hosting content open to being authored by many persons, which can increase trust in the information.</li>
                <li>Bridges the gap between casual learners and in-depth research, with overviews of a variety of topics and references to source documents for deeper study.</li>
                <li>Built on MediaWiki, ensuring a familiar and structured approach to content creation and long-term sustainability.</li>
            </ul>
            
            <h2>Sustainability & Future Potential</h2>
            <ul>
                <li>Minimal hosting costs, leveraging MediaWiki’s efficient infrastructure.</li>
                <li>Community-driven contributions ensure continuous growth and accuracy.</li>
                <li>Potential for expansion through collaborations with scholars, institutions, and volunteers from non-English speaking areas of the world.</li>
            </ul>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
