<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Bahaipedia.org</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="images/dbs-favicon.png" type="image/png">
</head>
<body>
    <%- include('partials/header', { mini: false }) %>
    <main>
        <section class="content-area">
            <h1 class="centered">About <a href="https://bahaipedia.org/">Bahaipedia.org</a></h1>
            
            <h2>Justification</h2>
            <p>Bahaipedia.org hosts encyclopedia-style content about the Bahá’í Faith, its history, teachings, and communities. Its value lies in the relatively low barrier to entry and low costs associated with hosting this type of content. No administrative action is needed before someone can add or edit an article or correct mistakes in an existing article. Edits must be reviewed, but this requires little effort depending on the reputation of the contributor.</p>
            
            <h2>Scope & Content</h2>
            <ul>
                <li>Established in 2007, the English language Bahaipedia contains more than 5,000 content pages (more than 19,000 pages in total) and editors have made more than <a href="https://bahaipedia.org/Special:Statistics">153,000</a> edits as of early 2025.</li>
                <li>Covers a wide range of topics, including historical figures, texts, events, principles, plans, and details on individual communities.</li>
                <li>Built on MediaWiki, ensuring a familiar and structured approach to content creation and long-term sustainability.</li>
            </ul>
            
            <h2>Reach & Audience</h2>
            <ul>
                <li>Bahaipedia primarily serves English language audiences, but volunteers have added some foundational information in several other lauganges as well, such as <a href="https://es.bahaipedia.org">Spanish</a> and <a href="https://vi.bahaipedia.org">Vietnamese</a>.</li>
                <li>With servers in Virginia (USA), Singapore, São Paulo, and Frankfurt the site is well optimized for global access or any future language versions that might be requested.</li>
            </ul>
            
            <h2>Impact & Value</h2>
            <ul>
                <li>Provides a Bahá’í oriented persepective, allowing readers to learn about a broad range of topics from a Bahá’í perspective.</li>
                <li>Acts as a preservation tool for historical and contemporary knowledge.</li>
                <li>Encourages open contribution, making it a living, evolving resource. Wiki's are also known for hosting content open to being authored by many persons, which can increase trust in the information.</li>
                <li>Bridges the gap between casual learners and in-depth research, with overviews to a variety of topics and references to source documents for deeper study.</li>
            </ul>
            
            <h2>Sustainability & Future Potential</h2>
            <ul>
                <li>Minimal hosting costs, leveraging MediaWiki’s efficient infrastructure.</li>
                <li>Community-driven contributions ensure continuous growth and accuracy.</li>
                <li>Potential for expansion through collaborations with scholars, institutions, and digital archives.</li>
            </ul>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
