<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="images/dbs-favicon.png" type="image/png">
</head>
<body>
    <%- include('partials/header', { mini: false }) %>
    <main>
        <section class="content-area">
            <h1>Contact Us</h1>
            <p>At this time, technical and administrative maintenance of these projects is handled by David Haslip. To reach out please see the contact information on <a href="https://bahaipedia.org/User:David">this page</a> at Bahaipedia.org.</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
