<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Activity</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/current-activity.css">
    <link rel="icon" href="images/dbs-favicon.png" type="image/png">
</head>
<body>
    <%- include('partials/header', { mini: false }) %>
    <main>
        <section class="content-area">
                <h1>Current Activity</h1>
                <div class="project-table">
                        <div class="table-header">
                                <div class="col-project">Project</div>
                                <div class="col-details">Description</div>
                        </div>
                        <div class="table-row">
                                <div class="col-project">Bahai.works</div>
                                <div class="col-details">Proofreading of <a href="https://bahai.works/Category:Proofread_text_of_The_American_Bah%C3%A1%E2%80%99%C3%AD">The American Bahá’í</a>.</div>
                                <div class="col-project"></div>
                                <div class="col-details">Proofreading of <a href="https://bahai.works/Category:Proofread_text_in_the_Baha%E2%80%99i_World_series">The Baha’i World</a>.</div>
                                <div class="col-project"></div>
                                <div class="col-details">Proofreading of <a href="https://bahai.works/Category:Proofread_text_of_World_Order">World Order Magazine</a>.</div>
                                <div class="col-project">Bahai.media</div>
                                <div class="col-details">Uploading and categorizing images found in <a href="https://bahai.media/Category:Bah%C3%A1%E2%80%99%C3%AD_World_category_review_complete">The Bahá’í World</a> volumes.</div>
                                <div class="col-project"></div>
                                <div class="col-details">Uploading and categorizing images found in <a href="https://bahai.media/Category:Bah%C3%A1%E2%80%99%C3%AD_News_category_review_complete">Bahá’í News</a> issues.</div>
                                <div class="col-project">Technical</div>
                                <div class="col-details"><a href="https://github.com/bahaipedia/mediawiki-AskAI">Extension</a> to enable people to ask ChatGPT about content on Bahai.works is being developed.</div>
                        </div>
                </div>

                <h1>Completed Projects</h1>
                <div class="project-table">
                        <div class="table-header">
                                <div class="col-project">Project</div>
                                <div class="col-details">Description</div>
                                <div class="col-date">Date</div>
                        </div>
                        <div class="table-row">
                                <div class="col-project">Technical</div>
                                <div class="col-details">Deployment of our 5th server. The newly opened region is in Oregon and should help prevent the primary server from being overloaded during peak times.</div>
                                <div class="col-date">23 February 2025‎</div>
                                <div class="col-project">Technical</div>
                                <div class="col-details"><a href="https://github.com/bahaipedia/mediawiki-AutoLinksToAnotherWiki">Extension</a> to automatically link <a href="https://bahai.media/File:Continental_Counselors_gathered_at_International_Convention,_1973.png">captions</a> on Bahai.media to related Bahaipedia articles</div>
                                <div class="col-date">6 January 2025‎</div>
                                <div class="col-project">Technical</div>
                                <div class="col-details">All wikis upgraded to <a href="https://www.pro.wiki/news/what-new-features-in-mediawiki-1-43-release">MediaWiki 1.43.</a></div>
                                <div class="col-date">3 January 2025‎</div>
                                <div class="col-project">New project</div>
                                <div class="col-details">Completion of <a href="https://huququlator.com/">huququlator.com</a>, a calculator for Ḥuqúqu’lláh.</div>
                                <div class="col-date">10 December 2024‎</div>
                                <div class="col-project">Technical</div>
                                <div class="col-details"><a href="https://github.com/bahaipedia/mediawiki-RelatedImages">Extension</a> to add related media next to <a href="https://bahai.media/File:%E2%80%98Abdu%E2%80%99l-Bah%C3%A1_at_Lincoln_Park_with_friends.jpg">images</a> on Bahai.media.</div>
                                <div class="col-date">16 November 2024‎</div>
                                <div class="col-project">Bahaidata.org</div>
                                <div class="col-details">All National Spiritual Assembly articles and media categories connected, allowing for detailed <a href="https://bahai.media/Category:National_Spiritual_Assembly_of_the_Leeward,_Windward,_and_Virgin_Islands">descriptions</a>.</div>
                                <div class="col-date">3 November 2024‎</div>
                                <div class="col-project">Bahaipedia.org</div>
                                <div class="col-details"><a href="https://bahaipedia.org/Bahaipedia:Citing_sources#Automatic_citation_templates">Citation templates</a> allow editors to quickly add citations to any book or periodical on Bahai.works.</div>
                                <div class="col-date">28 August 2024‎‎</div>
                                <div class="col-project">Bahai.works</div>
                                <div class="col-details">Proofreading of <a href="https://bahai.works/Bahá’í_News">Bahá’í News</a>, some related tasks are still <a href="https://bahai.works/Talk:Bahá’í_News">outstanding</a>.</div>
                                <div class="col-date">28 June 2024</div>
                                <div class="col-project">Bahaidata.org</div>
                                <div class="col-details">Data added for every article in <a href="https://bahaidata.org/Bahaidata:Main_Page">World Order Magazine</a>.</div>
                                <div class="col-date">25 June 2024‎</div>
                        </div>
                </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
