<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Activity</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/current-activity.css">
</head>
<body>
    <%- include('partials/header', { mini: false }) %>
    <main>
        <section class="content-area">
                <h1>Current Activity</h1>
                <div class="project-table">
                        <div class="table-header">
                                <div class="col-project">Project</div>
                                <div class="col-details">Description</div>
                        </div>
                        <div class="table-row">
                                <div class="col-project">Bahai.works</div>
                                <div class="col-details">Proofreading of <a href="https://bahai.works/Category:Proofread_text_of_The_American_Bah%C3%A1%E2%80%99%C3%AD">The American Bahá’í</a>.</div>
                                <div class="col-project"></div>
                                <div class="col-details">Proofreading of <a href="https://bahai.works/Category:Proofread_text_in_the_Baha%E2%80%99i_World_series">The Baha’i World</a>.</div>
                                <div class="col-project"></div>
                                <div class="col-details">Proofreading of <a href="https://bahai.works/Category:Proofread_text_of_World_Order">World Order Magazine</a>.</div>
                                <div class="col-project">Bahai.media</div>
                                <div class="col-details">Uploading and categorizing images found in <a href="https://bahai.media/Category:Bah%C3%A1%E2%80%99%C3%AD_World_category_review_complete">The Bahá’í World</a> volumes.</div>
                                <div class="col-project">Technical</div>
                                <div class="col-details"><a href="https://github.com/bahaipedia/mediawiki-AskAI">Extension</a> to enable people to ask ChatGPT about content on Bahai.works is being developed.</div>
                        </div>
                </div>

                <h1>Completed Projects</h1>
                <div class="project-table">
                        <div class="table-header">
                                <div class="col-project">Project</div>
                                <div class="col-details">Description</div>
                                <div class="col-date">Date</div>
                        </div>
                        <div class="table-row">
                                <div class="col-project">Technical</div>
                                <div class="col-details"><a href="https://github.com/bahaipedia/mediawiki-RelatedImages">Extension</a> to add related media next to images on Bahai.media.</div>
                                <div class="col-date">16 November 2024‎</div>
                                <div class="col-project">Bahai.works</div>
                                <div class="col-details">Proofreading of <a href="https://bahai.works/Bahá’í_News">Bahá’í News</a>, some related tasks are still <a href="https://bahai.works/Talk:Bahá’í_News">outstanding</a>.</div>
                                <div class="col-date">28 June 2024</div>
                                <div class="col-project">Bahaidata.org</div>
                                <div class="col-details">Data added for every article in <a href="https://bahaidata.org/Bahaidata:Main_Page">World Order Magazine</a>.</div>
                                <div class="col-date">25 June 2024‎</div>
                        </div>
                </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
