<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Bahá’í Resources</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/header', { mini: false }) %>
    <main>
        <section class="projects">
            <div class="project-row">
                <div class="project-item">
                    <h2><a href="https://bahaipedia.org" target="_blank">Bahaipedia.org</a></h2>
                    <p>Collaborative encyclopedia about the Bahá’í Faith.</p>
                </div>
                <div class="project-item">
                    <h2><a href="https://bahai.works" target="_blank">Bahai.works</a></h2>
                    <p>Digitization project for Bahá’í documents and history.</p>
                </div>
                <div class="project-item">
                    <h2><a href="https://bahai.media" target="_blank">Bahai.media</a></h2>
                    <p>Repository for Bahá’í media files.</p>
                </div>
            </div>
            <div class="project-row">
                <div class="project-item">
                    <h2><a href="https://bahai9.com" target="_blank">Bahai9.com</a></h2>
                    <p>Organized Bahá’í quotes by topic.</p>
                </div>
                <div class="project-item">
                    <h2><a href="https://bahaidata.org" target="_blank">Bahaidata.org</a></h2>
                    <p>Structured data for all Bahá’í projects.</p>
                </div>
                <div class="project-item">
                    <h2><a href="https://bahai.quest" target="_blank">Bahai.quest</a></h2>
                    <p>Concordance of the Bahá’í Writings.</p>
                </div>
            </div>
            <div class="project-row">
                <div class="project-item">
                    <h2><a href="https://huququlator.com" target="_blank">Huququlator.com</a></h2>
                    <p>Calculator for Ḥuqúqu’lláh obligations.</p>
                </div>
                <div class="project-item">
                    <h2><a href="https://reddit.com/r/bahai/" target="_blank">r/bahai</a></h2>
                    <p>A community on the platorm reddit.com.</p>
                </div>
                <div class="project-item">
                    <h2><a href="https://github.com/bahaipedia" target="_blank">GitHub Repository</a></h2>
                    <p>Documentation and source code for our projects.</p>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
