<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Bahá’í Resources</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="images/dbs-favicon.png" type="image/png">
</head>
<body>
    <%- include('partials/header', { mini: false }) %>
    <main>
        <div class="layout-container">
            
            <section class="projects">
                <div class="project-row">
                    <div class="project-item">
                        <a href="https://bahaipedia.org" target="_blank"><img src="https://file.bahai.media/e/ee/Bahaikipedia.png" alt="Bahaipedia Logo" class="project-logo"></a>
                        <h2><a href="https://bahaipedia.org" target="_blank">Bahaipedia.org</a></h2>
                        <p>Collaborative encyclopedia about the Bahá’í Faith.</p>
                    </div>
                    <div class="project-item">
                        <a href="https://bahai.works" target="_blank"><img src="https://file.bahai.media/e/e9/Bahaiworks-partial-logo.png" alt="Bahaiworks Logo" class="project-logo"></a>
                        <h2><a href="https://bahai.works" target="_blank">Bahai.works</a></h2>
                        <p>Digitization project for Bahá’í documents and history.</p>
                    </div>
                    <div class="project-item">
                        <a href="https://bahai.media" target="_blank"><img src="https://file.bahai.media/2/2c/Bahaimedia.png" alt="Bahaimedia Logo" class="project-logo"></a>
                        <h2><a href="https://bahai.media" target="_blank">Bahai.media</a></h2>
                        <p>Repository for Bahá’í media files.</p>
                    </div>
                </div>
                <div class="project-row">
                    <div class="project-item">
                        <a href="https://bahai9.com" target="_blank"><img src="https://file.bahai.media/4/42/B9logo.png" alt="Bahai9 Logo" class="project-logo"></a>
                        <h2><a href="https://bahai9.com" target="_blank">Bahai9.com</a></h2>
                        <p>Organized Bahá’í quotes by topic.</p>
                    </div>
                    <div class="project-item">
                        <a href="https://bahaidata.org" target="_blank"><img src="https://file.bahai.media/1/12/Bahaidata-clean.png" alt="Bahaidata Logo" class="project-logo"></a>
                        <h2><a href="https://bahaidata.org" target="_blank">Bahaidata.org</a></h2>
                        <p>Structured data for all Bahá’í projects.</p>
                    </div>
                    <div class="project-item">
                        <a href="https://bahai.quest" target="_blank"><img src="https://file.bahai.media/1/16/Bahaiquest_logo.png" alt="Bahaiquest Logo" class="project-logo"></a>
                        <h2><a href="https://bahai.quest" target="_blank">Bahai.quest</a></h2>
                        <p>Concordance of the Bahá’í Writings.</p>
                    </div>
                </div>
                <div class="project-row">
                    <div class="project-item">
                        <a href="https://huququlator.com" target="_blank"><img src="images/huququlator.png" alt="Huququlator Logo" class="project-logo"></a>
                        <h2><a href="https://huququlator.com" target="_blank">Huququlator.com</a></h2>
                        <p>Calculator for Ḥuqúqu’lláh obligations.</p>
                    </div>
                    <div class="project-item">
                        <a href="https://reddit.com/r/bahai/" target="_blank"><img src="images/reddit.png" alt="Reddit Logo" class="project-logo"></a>
                        <h2><a href="https://reddit.com/r/bahai/" target="_blank">r/bahai</a></h2>
                        <p>A community on the platform reddit.com.</p>
                    </div>
                    <div class="project-item">
                        <a href="https://github.com/bahaipedia" target="_blank"><img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="Github Logo" class="project-logo"></a>
                        <h2><a href="https://github.com/bahaipedia" target="_blank">GitHub Repository</a></h2>
                        <p>Documentation and source code for our projects.</p>
                    </div>
                </div>
            </section>

            <aside class="promo-sidebar">
                <div class="sidebar-content">
                    <div class="sb-badge">New Tool</div>
                    <h3>Annotation<br>tool</h3>
                    <p>Annotate Baha'i writings and help organize concepts for personal study or for researchers.</p>
                    <div class="sb-visual"></div>
                    
                    <a href="https://digitalbahairesources.org/chrome-extension" class="sb-learn-more">Learn more</a>
                    <a href="https://chromewebstore.google.com/detail/bah%C3%A1%E2%80%99%C3%AD-text-annotation-to/pkicpjodacifjhdmnagelejplaeojdjo" target="_blank" class="sb-btn">Add to Chrome</a>
                </div>
            </aside>

        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
