body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}
h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #CCCCDD;
    color: #000000;
    text-align: center;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 3px;
}

/* Sidebar */
.stats-sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.stats-sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.stats-sidebar-menu li {
    margin: 0.5rem 0;
}
.stats-sidebar-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.stats-sidebar-menu li a:hover {
    color: #007BFF;
}

/* Navigation bar */
nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #f2f2f2;
    padding: 1rem;
    font-family: Arial, sans-serif;
}
nav label {
    font-weight: bold;
}
nav select {
    padding: 0.3rem;
}
/* Main content */
.main-content {
    flex: 1;
    padding: 1rem;
}
.container {
    display: flex;
    width: 100%;
}

/* partials/traffic-*ejs */
.header-unique-visitors {
    background-color: #FFAA66;
}
.header-number-visits {
    background-color: #F4F090;
}
.header-pages {
    background-color: #4477DD;
}
.header-hits {
    background-color: #66DDEE;
}
.header-bandwidth {
    background-color: #2EA495;
}

/* partials/traffic-summary.ejs */
#traffic-summary {
    margin: 20px 0;
    padding-bottom: 40px;
}
.traffic-summary-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.traffic-summary-table thead {
    font-weight: bold;
}
.traffic-summary-table th,
.traffic-summary-table td {
    border: 1px solid #ddd;
}

/* partials/monthly-history.ejs */
#monthly-history {
    margin: 20px 0;
    padding-bottom: 40px;
}
.monthly-history-table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.monthly-history-table th,
.monthly-history-table td {
    padding: 5px;
    border: 1px solid #ddd;
}
.monthly-history-table th {
    font-weight: bold;
}
.totals-row {
    background-color: #f2f2f2;
}
